//Microsoft Visual C++ generated resource script.
//
#include "ver.h"


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,02,0,1
 PRODUCTVERSION 2,02,0,1
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
// FILEFLAGS VS_FF_PRERELEASE
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "MARX Data Security GmbH\0"
            VALUE "FileDescription", "CRYPTO-BOX Windows 32 bit DLL\0"
            VALUE "FileVersion", "2.01\0"
            VALUE "InternalName", "CBNDLL.DLL\0"
            VALUE "LegalCopyright", "(c) MARX Data Security GmbH 1995, 1996\0"
//            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "CBNDLL.DLL\0"
            VALUE "ProductName", "CBN/CBV 32 bit Windows DLL\0"
            VALUE "ProductVersion", "2.02\0"
        END
    END
END

